{
  "presets": [
    ["env", {
      "targets": { "uglify": true }
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "react",
        "stage-0"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}